.offer-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 83vh;
    background: #2E2E2E;
}

.offer-section__image {
    background-color: black;
    background-position: 5%;
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://s3-alpha-sig.figma.com/img/d099/43ff/8f2f63b52c0360085b7259ab84a3d931?Expires=1694995200&Signature=YqB8HikO3l2UKrsHhYkd45K7aWMi45L~L6YPVdwWfR2wprUYXO3k03XRH53xYNW8nywEKZ0DnAPMJmDXL2SwbCOPw2YFu3LBUyT1q0NyI26d-qm71IxZuaHvhfm1lD9UR7Q~CXTvtpSZm5Ymew2XoSSXW-72vnH7Rw~Pqw0H7ygsjefJHqViVPUiaznEu2A~zF7ajNDVsEg0rzqgSU1N0qvuZmzGjzF1p0l96elFPEfzmalG3pI3vlim0NVyv9dU-Og0h3p2MiZ1Ezbwyfb7H3WgcrfrdSvziDXZ5vGaNTZ36ejbINcSUgpH9TaaLCO4Is8w4NmkqB1iFsZ17XvPcg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.info-section {
    display: flex;
    flex-direction: column;
    height: 84vh;
    width: 100vw;
}

.info-section__title {
    height: 4vh;
    width: 24vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: #2E2E2E;
}

.title__text {
    margin: -20px auto;
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue, serif;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}